* {
    margin: 0;
    padding: 0;
}
.leftheadwords:hover {
    cursor: pointer;
    color: #0040d4;
}
.leftheadwords {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
body {
  width: 100vw;     
  display: flex;
  justify-content: center;
  align-items: center;
}
.All {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100%;
}
.header {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 66.5px; 
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    justify-content: space-evenly;
    box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.03);
    background-color: #FFFFFF;
}
.navall {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.leftnavcontainer {
    display: flex;
    width: 700px;
    height: 56.5px;
    align-items: center;
    justify-content: space-evenly;
}
.rightnavcontainer {
    display: flex;
    align-items: center;
    width: 318px;
    height: 56.5px;
    justify-content: center
}
.letsread:hover {
    background-color: #e9ecef;
    color: #777;
    cursor: pointer;
}
.letsread {
    color: #FFFFFF;
    background-color: rgb(0, 64, 212);
    width: 125px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;    
    transition-duration: 0.2s;
}
.rightheadwords:hover {
    cursor: pointer;
}
.rightheadwords {
    width: 153px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.allexceptheader {
    padding: 90.5px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.flashinglemonadecontainer {
    width: 1180px  ;
    height: 36px;
    display: flex;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
}
.flashinglemonade {
    width: 85px;
    height: 36px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    animation: flashing 1s infinite;
}
.flashinglemonadewords:hover {
    cursor: pointer;
}
.flashinglemonadewords {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 16px;
    background-color: #f5f8fc;
    width: 100%;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}       
.bigimg:hover {
    background-color: #777;
}
.bigimg-container {
  width: 67%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid #e5e2e2;   
  border-radius: 5px; 
}
.bigimg {
    width: 100%;
    height: 100%;
    background-image: url("https://dash-api.yld.mn/api/image/c76d7a96-6ba0-4b7d-80d3-41e812370818");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.overlay {
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.bigimg-container:hover .overlay {
    opacity: 0.5;
}
.firstbignews {
    width: 100%;
    height: 26%;
    background-color: white;
    z-index: 999;
}
.littlebluetexts {
    color: rgb(0, 64, 212);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.onebigdarktext {
    color: #000;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.tinygreytexts {
    color: rgb(114, 128, 143);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 22.5px;
}
.newsword-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 14px;
}
.BelowHeader {
    margin: 25px 0px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 498px;
}
.littleimg-container {
  width: 32.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Img-1 {
  width: 100%;
  height: 30%;
  background-image: url("https://dash-api.yld.mn/api/image/e2bf93fa-56ec-4a7b-849d-23329f654d2b"); 
  background-size: cover;
  background-repeat: no-repeat;
}
.littleimg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #e5e2e2;   
    border-radius: 5px;
}
.littlenewsword-containers {
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    border-bottom: 0.5px solid #e5e2e2;
    padding-left: 14px;
}

.littlenewsword-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    border-bottom: 0.5px solid #e5e2e2;
    padding-left: 14px;
}
.littlebluetexts {
    color: #0040d4;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.onelittledarktext {
    color: #000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    width: 100%;
}
.tinygreytexts {
    color: rgb(163, 163, 163);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.Little-Container {
  display: flex;
  flex-direction: column;
  height: 75%;
}
.firstlittlenews {
    width: 100%;
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 0.5px solid #e5e2e2;
}
.secondscrolling {
    display: flex;
    width: 1180px;
    height: 402px;
    justify-content: space-between;
} 
.Scroll {
    width: 32.2%;
    height: 380px;
    background-color: #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.ScrollInside {
    cursor: pointer;
    padding: 0px 0px 18px 18px;
    width: 91.5%;
    height: 305.6px;
    overflow: scroll;
}
.Head { 
    display: flex;
    align-items: flex-end;
    background-color: #000;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    width: 86%;
    height: 38.4px;
    position: sticky;
    padding: 0px 0px 0px 18px;
    top: 0;
    left: 0;
}
.Descriptions {
    width: 312px;
    padding: 0px 16px 0px 0px;
}
.DescriptionBoxes {
    padding: 13px 0px;
    width: 96%;
    height: 41.5px;
    border-top: 0.5px solid #9f9f9fdf;
    display: flex;
    flex-direction: column;
}
.LittleWhiteText {
    font-size: 15px;
    color:  rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 22.5%;
}
.BusinessWoman {
    width: 32.2%;
    height: 94.5%;
    background-image: url("https://dash-api.yld.mn/api/image/7c3c37d5-408d-4a41-b89e-14a83186a76f"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    border: 0.5px solid #e5e2e2;   
    border-radius: 5px;
}
.Interview {
    width: 90.5%;
    height: 94.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.TinyWhiteTexts {
    width: 100%;
    height: 24px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
}
.NormalWhiteTexts {
    width: 90%;
    height: 73px;
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.SideNews {
    width: 32.2%;
    height: 94.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid #e5e2e2;
    border-radius: 5px;
}
@keyframes flashing {
    0% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}

.ScrollInside::-webkit-scrollbar {
    width: 5px;
    height: 0;
  }
.ScrollInside::-webkit-scrollbar-track {
    background: #000; 
  }
.ScrollInside::-webkit-scrollbar-thumb {
    background: #ffda00;; 
    border-radius: 11px;
  }
  .EmailTime {
    width: 1180px;
    height: 309.3px;
    background-image: url("https://lemonpress.mn/assets/subscribe-cover.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 0.5px solid #e5e2e2;   
    border-radius: 5px;
  }
  .Email-Container {
    background-color: #0040d4;
    width: 100%;
    height: 309.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    border-radius: 5px;
  }
  .TheBox {
    background-color: #FFFFFF;
    height: 230px;
    width: 90%;
    position: absolute;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  } 
  .BlueFiltered {
    width: 100vw;
    height: 310px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .Third {
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Thirdsector {
    width: 74%;
    height: 310px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bigdarktext {
      color: #000;
      font-size: 24px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      text-align: center;
  }
  .greytext {
    color: #72808f;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  .littlegrey {
    font-size: 13px;
    font-weight: 400; 
    color: #72808f;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    height: 23.5%;
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
  }
  .emailinput {
    display: flex; 
    align-items: center; 
    border: 1px solid #0040d4;
    border-radius: 6px;
  }
  input[type=text], select {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  form {
    width: 100%;
  }
  input[type=submit] {
    width: 100%;
    background-color: #0040d4;
    color: white;
    height: 52px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .FourthSection {
    gap: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1790px;
  }
  .LeftNews {
    width: 67%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
  }
  .Advertisement {
    width: 33%;
    height: 100%;
    gap: 22px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  .Ad-container {
    height: 550px;
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 66.5px;
    margin-bottom: 44px;
    margin-top: 22px;
    gap: 22px;
  }
  .Ads {
    width: 100%;
    height: 100%;
    background-image: url("https://dash-api.yld.mn/api/image/f3e19cc3-d9cc-4336-944a-2b0acfab44b2"); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0.5px solid #e5e2e2;   
    border-radius: 5px;
    border-radius: 5px;
    position: relative;
  }
  .AdsPlus {
    width: 100%;
    height: 100%;
    background-image: url("https://dash-api.yld.mn/api/image/7aba01bf-b8df-4c4e-8035-cf8985c00e27"); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0.5px solid #e5e2e2;   
    border-radius: 5px;
    border-radius: 5px;
    position: relative;
  }
  .Rownews-All {
    display: flex;
    flex-direction: column;
    height: 98.5%;
    justify-content: space-evenly;
  }
  .RowNewsContainer {
    display: flex;
    border: 0.5px solid #e5e2e2;   
    border-radius: 5px;
    gap: 18px;
    align-items: center;
    width: 100%;
    height: 188.71px;
    margin-top: 20px;
  }
  .RowImage {
    height: 100%;
    width: 47%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0.5px solid #e5e2e2;
    border-radius: 5px;
    border-radius: 5px;
  }
  .littlenewsrow-container {
      width: 419px;
      height: 103px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; 

  }
  .firstrownews {
    width: 53%;
    height: 100%;
    gap: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
  }
  .SeeMore {
    width: 100%;
    height: 37px;
    background-color: #f5f8fc;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
  }
  .SeeMore:hover{
    background-color: #d3d4d5;
  }
  .FifthHead-Container {
    width: 100%;
  }
  .FifthHeader {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  .LineDot {
    border: none;
    border-top: 1px dotted #a3a3a3;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
  }
  .FifthMainContext {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
  }
  .FifthSide {
    font-size: 13px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
  }
  .FifthImg {
    width: 100%;
    height: 455px;
    background-image: url("https://dash-api.yld.mn/api/image/3edbed96-5515-4e0f-89bc-7a24789564f2"); 
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 0.5px solid #e5e2e2;   
    border-radius: 5px;
  }
  .FifthContxt {
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ThreeBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .ThreeBoxesWithHeader {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    width: 70%;
    gap: 20px;
  }
  .Footer {
    width: 100vw;
    background-color: #0040d4;
  }
  .FooterFirst {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 28px 0px;
  }
  .FooterMiddle {
    border: 1px solid #8193b7df  ;
    width: 100vw;
    height: 55%;
    display: flex;
    justify-content: center;
  }
  .Middle {
    display: flex;
    width: 95%;
    gap: 20px;
    padding: 28px 0px;
  }
  .Middle-Container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: start;
  }
  .FooterLast{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
  }
  .logos {
    height: 40px;
    width: 40px;
  }
  .footerlemon {
        height: 90%;
        width: 30%;
        gap: 16px;
        display: flex;
        flex-direction: column;
  }
  .FooterGreyText {
    width: 70%;
    height: 90%;
    display: flex;
  }
  .footergreytextedleft {
    height: 103px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footergreytextedright {
    height: 131.5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .greypopingwhite {
    width: 100%;
    height: 76.5px;
    font-size: 13px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .grey {
    color: #C7D9F6;
    cursor: pointer;
  }
  .grey:hover {
    color: white;
  }
  .FooterWhiteTexts {
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.998);
    line-height: 21px;
  }
  .copyright {
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    align-items: center;
  }
  .Powered {
    background-color: rgba(255, 255, 255, 0.137);
    height: 28px;
    width: 130px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  .PoweredByText {
    font-size: 10px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .PowerAndCopy {
    width: 1180px;
    display: flex;
    justify-content: space-between;
  }
  @media only screen and (max-width: 768px) {
    .All {
      width: 90%;
    }
    .header {
      display: flex;
      justify-content: flex-start;
    }
    .BelowHeader {
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      width: 100%; 
      gap: 20px;
      padding-top: 20px;
      height: 100%;
    }
    .bigimg {
      width: 100%;
      height: 250px;
      background-size: cover;
    }
    .Descriptions {
      width: 96 %;
    }
    .overlay {
      height: 69.1%;
    }
    .bigimg-container {
      width: 100%;
    }
    .littleimg-container {
      height: 500px;
      width: 100%;
    }
    .Img-1 {
      background-size: cover;
      height: 100%;
      width: 100%;
    }
    .littleimg {
      height: 100%;
    }
    .flashinglemonadecontainer {
      width: 100%  ;
    }
    .navall { 
      display: none;
    }
    .firstbignews {
      width: 100%;
    }
    .FourthSection {
      width: 100%;
      height: 5500px;
      flex-direction: column;
    }
    .Ad-container {
      height: 100%;
    }
    .Advertisement {
      height: 22%;
      width: 100%;
    }
    .LeftNews {
      width: 100%; 
    }
    .RowImage {
      width: 100%;
      height: 100%;
      background-size: contain;
    }
    .RowNewsContainer {
      flex-direction: column; 
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .firstrownews {
      width: 100%;
      height: 20%;
    }
    .onebigdarktext {
      width: 90%;
    }
    .newsword-container {
      width: 100%;
    }
    .secondscrolling {
      flex-direction: column;
      width: 100%;
      height: 1180px;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
    }
    .NormalWhiteTexts {
      width: 100%;
    }
    .Scroll {
      width: 100%;
    }
    .Head {
      width: 86%;
    }
    .ScrollInside {
      width: 88%;
    }
    .Interview {
      height: 100%;
      width: 90%;
    }
    .BusinessWoman {
      height: 32.2%;
      width: 100%;
    }
    .SideNews {
      width: 100%;
      height: 32.2%;
    }
    .firstlittlenews {
      height: 33.3%;
    }
    .littlenewsword-containers {
      height: 100% ;
    }
    .bigdarktext {
      font-size: 18px;
    }
    .TheBox {
      width: 100%;
    }
    .Thirdsector {
      width: 90% ;
    }
    .littlegrey{
      width: 95%;
    }
    .FifthContxt {
      flex-direction: column;
    }
    .ThreeBoxesWithHeader {
      flex-direction: column;
      width: 100%;
    }
    .ThreeBox {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 20px ;
    }
    .FifthHeader {
      width: 100%;
    }
    .FifthImg {
      width: 100%;
      background-size: contain;
    }
    .Middle {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }
    .footerlemon {
      width: 90%;
    }
    .logos {
      width: 36px;
      height: 36px;
    }
    .FooterFirst {
      gap: 20px;
    }
    .FooterGreyText {
      flex-direction: column;
      width: 90%;
      gap: 20px;
    }
    .flashinglemonadecontainer  {
      width: 100vw;
    }
    .PowerAndCopy {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 20px 0px;
    }
    .Middle-Container {
      justify-content: center;
      width: 100%;
    }
    .littlenewsrow-container {
      width: 100%;
    }
    .SeeMore {
      width: 100%;
    }
    .onelittledarktext {
      width: 100%;
    }
  }

  @media only screen and (min-width: 1281px) {
    .All {
      width: 1180px;
    }
  }
  @media only screen and (min-device-width: 992px) and (max-device-width: 1280px) {
    .All {
      width:  92%;
    }
    .header {
      width: 100vw;
    }
    .leftnavcontainer {
      width: 70%;
      justify-content:flex-start;
      gap: 20px;
    }
    .rightnavcontainer {
      width: 30%;
    }
    .letsread {
      width: 83%;
    }
    .flashinglemonadecontainer {
      width: 100%;
    }
    .secondscrolling {
      width: 100%;
      gap: 20px;
    }
    .firstlittlenews {
      height: 100%;
    }
    .EmailTime {
      width: 100%;
    }
    .Thirdsector {
      width: 92%;
    }
  }